<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="logo">
      <img src="../assets/logo.png" routerLink="/inicio" alt="Logo da Empresa">
  </div>
  <form class="d-flex" style="margin-left: 400px; width: 500px;" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button  style="background-color: red; color: white;   border-radius: 10px;" type="submit">Search</button>
  </form>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active  margin-left: 60px;" style=" margin-left: 400px;" aria-current="page" routerLink="/alunos">Alunos</a>

       <li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/professores">Professor</a>

        <li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="margin-left: 8 0px;" routerLink="/cadastro">Tadeu</a>

          <li>
            <li class="nav-item">
              <li>
                <li class="nav-item">
                  <button class="" style="   background-color: rgb(238, 76, 76); color: aliceblue;  border-radius: 5px; width: 100px; height: 40px;" routerLink="/inicio">Sair</button>


      </ul>
    </div>
  </div>
</nav>



    <div class="col"  >
      <h1 style="margin-left: 800px; margin-top: 50px;">Cadastrar Professor</h1>

      <div class="mb-2" style="margin-top: 50px; margin-left: 200px; margin-right: 200px;" >

<form  [formGroup]="formGroupClient">
  <div class="mb-3">

  </div >


  <div class="mb-2">
    <label for="name" class="form-label">Nome:</label>
    <input type="text" formControlName="nome"    class="form-control" id="name" placeholder="Nome">
  </div>

  <div class="mb-2">
    <label for="salas" class="form-label">Salas:</label>
    <input type="email" formControlName="salas"   class="form-control" id="salas" placeholder="Salas">
  </div>
  <div class="mb-2">
    <label for="data" class="form-label">Data:</label>
    <input type="text" formControlName="data"    class="form-control" id="data" placeholder="Data">
  </div>

  <div class="mb-2">
    <label for="materia" class="form-label">Matéria:</label>
    <input type="text" formControlName="materia"   class="form-control" id="materia" placeholder="materia">
  </div>


    <div class="mb-2">
      <label for="horario" class="form-label">Horario:</label>
      <input type="text" formControlName="horario"    class="form-control" id="horario" placeholder="Horario">
    </div>
    <div class="mb-2">
      <label for="curso" class="form-label">Curso:</label>
      <input type="text" formControlName="curso"    class="form-control" id="curso" placeholder="Curso">
    </div>


  <button class="btn btn-primary me-1"(click)="save()">Salvar</button>
  <button class="btn btn-secondary me-1"(click)="clean()">Limpar</button>


</form>



      </div>
      <div class="mb-3">



<form>

<div>
<table class="table ">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Rg</th>
      <th scope="col">Telefone</th>
      <th scope="col">Estado</th>



    </tr>
  </thead>
  <tbody>
          <tr *ngFor="let Cadastrarprofessor of cadastrarprofessor">
            <th scope="row">{{Cadastrarprofessor.id}}</th>
            <td>{{Cadastrarprofessor.nome}}</td>
            <td>{{Cadastrarprofessor.salas}}</td>
            <td>{{Cadastrarprofessor.data}}</td>
            <td>{{Cadastrarprofessor.materia}}</td>
            <td>{{Cadastrarprofessor.horario}}</td>
            <td>{{Cadastrarprofessor.curso}}</td>
          </tr>



        </tbody>
      </table>


    </div>

