<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="logo">
      <img src="../assets/logo.png" routerLink="/inicio" alt="Logo da Empresa">
  </div>
  <a style="margin-left: 500px">barra de pesquisa aqui </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active  margin-left: 60px;" style=" margin-left: 600px;" aria-current="page" routerLink="/alunos">Alunos</a>

       <li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/professores">Professor</a>

        <li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/cadastro">Coordenador</a>

      </ul>
    </div>
  </div>
</nav>

<div style="background-color: white; margin-top: 50px; border-radius: 15px; margin-left: 60px; margin-right: 60px;">
  <div class="row">
    <div class="col ">
      <div class="logo">
        <img src="../assets/parceiros.PNG" style="width: 300px;margin-top: 50px; margin-bottom: 30px; margin-left: 50px;" routerLink="/inicio" alt="Logo da Empresa">
    </div>
    </div>
    <div class="col"  style="margin-left: 190px;">

      <div class="mb-2" >

        <h1 style="text-align: center; margin-top: 250px;">Cadastro Coordenador</h1>
        <h5 for="ra" style="height: 20px;" class="form-label">Ra:</h5>
        <input type="text" formControlName="Ra" style="width: 500px;align-items: center; margin-right: 0px;"   class="form-control" id="Ra:" placeholder="Ra:">
      </div>
      <div class="mb-3">
        <h5 for="senha" style="height: 20px;" class="form-label">Senha:</h5>
        <input type="text" formControlName="senha" style="width: 500px;align-items: center;"   class="form-control" id="senha" placeholder="Senha:">
        <button class="" style=" margin-left: 190px; margin-top: 10px; background-color: red; color: aliceblue;  border-radius: 5px; width: 100px; height: 40px;">Entrar</button>

      </div>
    </div>
    <div class="col">

    </div>
  </div>
</div>




