
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="logo">
      <img src="../assets/logo.png" routerLink="/inicio" alt="Logo da Empresa">
    </div>
    <form class="d-flex ms-auto" style="width: 300px;" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-danger" style="border-radius: 10px;" type="submit">Search</button>
    </form>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/alunos">Alunos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/professores">Professor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/oi">Tadeu</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-danger" style="border-radius: 5px; width: 100px; height: 40px;" routerLink="/inicio">Sair</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" style="background-color: white; margin-top: 50px; border-radius: 15px;">
  <div class="row">
    <div class="col-lg-4 col-md-12 text-center">
      <div class="logo">
        <img src="../assets/parceiros.PNG" class="img-fluid mx-auto d-block" style="width: 300px; margin-top: 50px; margin-bottom: 30px;" routerLink="/inicio" alt="Logo da Empresa">
      </div>
    </div>

    <div class="col-lg-4 col-md-12" style="text-align: center;">
      <h1 class="mt-5">Página Coordenador</h1>

      <div class="mb-2" style="margin-top: 100px;">
        <button class="btn btn-danger" style="border-radius: 5px; width: 200px; height: 80px;" routerLink="/historico">Histórico</button>
        <button class="btn btn-danger" style=" margin-left: 20px;border-radius: 5px; width: 200px; height: 80px;" routerLink="/cadastrarprofessor">Cadastrar professor</button>
        <div>
        <button class="btn btn-danger" style="margin-top: 20px;margin-left: 0px; border-radius: 5px; width: 200px; height: 80px;" routerLink="/gradeprofessor">Grade Professores</button>
        <button class="btn btn-danger" style="margin-left: 20px; margin-top: 20px; border-radius: 5px; width: 200px; height: 80px;" routerLink="/gradealuno">Grade alunos</button>
        <div>
        <button class="btn btn-danger mt-3" style="border-radius: 5px; width: 200px; height: 80px;" routerLink="/cadastro">Voltar</button>
        </div>
      </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12">
      <!-- Add content for the third column if needed -->
    </div>
  </div>
</div>
