
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="logo">
      <img src="../assets/logo.png" routerLink="/inicio" alt="Logo da Empresa">
  </div>
  <form class="d-flex" style="margin-left: 400px; width: 500px;" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active  margin-left: 60px;" style=" margin-left: 400px;" aria-current="page" routerLink="/alunos">Alunos</a>

       <li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/professores">Professor</a>

        <li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="margin-left: 8 0px;" routerLink="/oi">Tadeu</a>

          <li>
            <li class="nav-item">
              <li>
                <li class="nav-item">
                  <button class="" style="   background-color: rgb(238, 76, 76); color: aliceblue;  border-radius: 5px; width: 100px; height: 40px;" routerLink="/inicio">Sair</button>


      </ul>
    </div>
  </div>
</nav>

<div style="background-color: white; margin-top: 50px; border-radius: 15px; margin-left: 60px; margin-right: 60px;">
  <div class="row">
    <div class="col ">
      <div class="logo">
        <img src="../assets/parceiros.PNG" style="width: 300px;margin-top: 50px; margin-bottom: 30px; margin-left: 50px;" routerLink="/inicio" alt="Logo da Empresa">
    </div>
    </div>
    <div class="col"  >
      <h1 style="text-align: center; margin-top: 100px;">Página Coordenador</h1>

      <div class="mb-2" style="margin-top: 150px; margin-left: px;" >
        <button class="" style="   background-color: red; color: aliceblue;  border-radius: 5px; width: 200px; height: 80px;" routerLink="/historico">Historico</button>
        <button class="" style="margin-left: 80px; background-color: red; color: aliceblue;  border-radius: 5px; width: 200px; height: 80px;" routerLink="/cadastrarprofessor">Cadastrar professor</button>
        <button class="" style=" margin-top: 70px; background-color: red; color: aliceblue;  border-radius: 5px; width: 200px; height: 80px;" routerLink="/gradeprofessor">Grade Professores</button>
      <button class="" style=" margin-left: 80px;   background-color: red; color: aliceblue;  border-radius: 5px; width: 200px; height: 80px;" routerLink="/gradealuno">Grade alunos</button>
      <button class="" style=" margin-top: 100px; margin-left: 130px;  background-color: red; color: aliceblue;  border-radius: 5px; width: 200px; height: 80px;" routerLink="/cadastro">Voltar</button>
      </div>
      <div class="mb-3">


      </div>
    </div>
    <div class="col" style="margin-top: 400px;">


    </div>
  </div>
</div>

